mixin matchreport(matchreport)

    - var today = new Date();

    .tile.ph-1.pv-1
        .match-calendar.calendar.hidden-xs.hidden-sm(class=matchreport.match.state == 'past' ? 'calendar--past' : null)
            .calendar__header=matchreport.match._.meetingTime.format('MMM')
            .calendar__body
                .calendar__date=matchreport.match._.meetingTime.format('DD')
                .calendar__year=matchreport.match._.meetingTime.format('YYYY')
        .match-content
            h2.mv-5= matchreport.title
            if matchreport.mitScore && matchreport.opponentScore
            h4
                ='MIT '
                =matchreport.mitScore
                =' - '
                =matchreport.opponentScore
                =' '
                =matchreport.match.opponent
            p
                strong Date:
                =' '
                =matchreport.match._.kickOffTime.format('dddd Do MMM YYYY')
            p
                strong Time:
                =' '
                =matchreport.match._.kickOffTime.format('h:mma')
            if matchreport.manOfTheMatch
                p
                    strong Man of the Match:
                    =' '
                    =matchreport.manOfTheMatch
            if matchreport.match.fieldAddress
                strong Field Address:
                =' '
                =matchreport.match.fieldAddress

            if matchreport.description
                p
                p!= matchreport.description
