mixin match(match)

    - var today = new Date();

    .tile.ph-1.pv-1
        .match-calendar.calendar.hidden-xs.hidden-sm(class=match.state == 'past' ? 'calendar--past' : null)
            .calendar__header=match._.meetingTime.format('MMM')
            .calendar__body
                .calendar__date=match._.meetingTime.format('DD')
                .calendar__year=match._.meetingTime.format('YYYY')
        .match-content
            h2.mv-5= match.opponent
            p
                strong Date:
                =' '
                =match._.kickOffTime.format('dddd, Do MMMM YYYY')
            p
                strong Kick-Off:
                =' '
                =match._.kickOffTime.format('h:mma')

            if user
                p
                    strong Meeting Time:
                    =' '
                    =match._.meetingTime.format('h:mma')

            if match.gameLocationType == 'Home'
                p
                    strong #{match.gameLocationType} Field:
                    =' '
                    =match.homeField
                    =' | '
                    if match.homeField == 'Briggs Field'
                        a(href='http://maps.google.com/?daddr=250+Vassar+Street,+Cambridge,+MA+02139', target='_blank') google maps
                        = ' | '
                        a(href='https://waze.com/ul?q=250+Vassar+Street,+Cambridge,+MA+02139', target='_blank') waze
                    else
                        a(href='http://maps.google.com/?daddr=140+Vassar+Street,+Cambridge,+MA+02139', target='_blank') google maps
                        = ' | '
                        a(href='https://waze.com/ul?q=140+Vassar+Street,+Cambridge,+MA+02139', target='_blank') waze

            else if match.gameLocationType == 'Other'
                if user
                    if match.meetingPlaceName == 'Other'
                        p
                            strong Meeting Location:
                            = ' '
                            =match.meetingPlaceAddress
                            a(href='http://maps.google.com.au/?daddr=' + match.meetingPlaceAddress, target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=' + match.meetingPlaceAddress, target='_blank') waze

                    else
                        p
                            strong Meeting Location:
                            = ' '
                            = match.meetingPlaceName
                            a(href='http://maps.google.com/?daddr=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') waze

                p
                    strong Away Field:
                    = ' '
                    = match.awayFieldAddress
                    = ' | '
                    a(href='http://maps.google.com/?daddr=' + match.awayFieldAddress, target='_blank') google maps
                    = ' | '
                    a(href='https://waze.com/ul?q=' + match.awayFieldAddress, target='_blank') waze

            else
                if user
                    if match.meetingPlaceName == 'Other'
                        p
                            strong Meeting Location:
                            = ' '
                            =match.meetingPlaceAddress
                            = ' | '
                            a(href='http://maps.google.com/?daddr=' + match.meetingPlaceAddress, target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=' + match.meetingPlaceAddress, target='_blank') waze
                    else
                        p
                            strong Meeting Location:
                            = ' '
                            = match.meetingPlaceName
                            = ' | '
                            a(href='http://maps.google.com/?daddr=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') waze

                p
                    strong #{match.gameLocationType} Field Address:
                    = ' '
                    = match.awayFieldAddress
                    = ' | '
                    a(href='http://maps.google.com/?daddr=' + match.awayFieldAddress, target='_blank') google maps
                    = ' | '
                    a(href='https://waze.com/ul?q=' + match.awayFieldAddress, target='_blank') waze

        if match.description
                p!= match.description

        if match.state == 'active'
            #react-match-button

// TODO add waze links
