mixin matchreport(match)

    if match
        .tile.ph-1.pv-1
            .match-calendar.calendar.hidden-xs.hidden-sm(class=match.isPast ? 'calendar--past' : null)
                .calendar__header=match._.meetingTime.format('MMM')
                .calendar__body
                    .calendar__date=match._.meetingTime.format('DD')
                    .calendar__year=match._.meetingTime.format('YYYY')
            .match-content
                h4.text-caps.text-danger=match._.kickOffTime.format('dddd Do MMM YYYY')
                h2.mv-5=match.reportTitle
                if match.mitScore && match.opponentScore
                h4
                    ='MIT '
                    =match.mitScore
                    =' - '
                    =match.opponentScore
                    =' '
                    =match.opponent
                    =' '
                    a(href='/matchreports/' + match.key) (link)
                p
                    strong Time:
                    =' '
                    =match._.kickOffTime.format('h:mma')
                if match.manOfTheMatch
                    p
                        strong Man of the Match:
                        =' '
                        =match.manOfTheMatch
                if match.fieldAddress
                    strong Field Address:
                    =' '
                    =match.fieldAddress

                if match.reportDetail
                    p
                    p!= match.reportDetail

                div.addthis_inline_share_toolbox
    else
        p No Match Report

block js
    script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a1ef411bc4a68d6')