mixin match(match)

    - var today = new Date();

    .tile.ph-1.pv-1
        .match-calendar.calendar.hidden-xs.hidden-sm(class=match.state == 'past' ? 'calendar--past' : null)
            .calendar__header=match._.meetingTime.format('MMM')
            .calendar__body
                .calendar__date=match._.meetingTime.format('DD')
                .calendar__year=match._.meetingTime.format('YYYY')
        .match-content
            h2.mv-5= match.opponent
            h5.mb-1=match._.meetingTime.format('dddd D MMM YYYY')
            |  at #{match._.meetingTime.format('h:mma')}
            if match.description
                p!= match.description

        if match.state == 'active'
            #react-match-button
