mixin match(match)

    - var today = new Date();

    .tile.ph-1.pv-1
        .match-calendar.calendar.hidden-xs.hidden-sm(class=match.state == 'past' ? 'calendar--past' : null)
            .calendar__header=match._.meetingTime.format('MMM')
            .calendar__body
                .calendar__date=match._.meetingTime.format('DD')
                .calendar__year=match._.meetingTime.format('YYYY')
        .match-content
            h2.mv-5= match.opponent
            p
                strong Kick-Off:
                =' '
                =match._.meetingTime.format('dddd D MMM YYYY')
                =' '
                =match._.meetingTime.format('h:mma')
            p
                strong Match Type:
                =' '
                =match.location
            if match.fieldAddress
                strong Field Address:
                =' '
                =match.fieldAddress
            if match.description
                p!= match.description

        if match.state == 'active'
            #react-match-button
