mixin timelinepastmatch(match, i)

    if match.reportDetail
        .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
            .timeline-item-node
            a(href='/matchreports/'+match.key).timeline-item-inner
                h6.text-caps.text-danger=match._.kickOffTime.format('dddd, Do MMMM YYYY')
                h3=match.reportTitle
                h5 MIT
                    =' '
                    =match.mitScore
                    =' : '
                    =match.opponentScore
                    =' '
                    =match.opponent
                p!=utils.cropString(utils.htmlToText(match.reportDetail), 240, '...', true)
    else
        .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
            .timeline-item-node
            a(href='/matches/' + match.key).timeline-item-inner
                h6.text-caps.text-danger=match._.kickOffTime.format('dddd, Do MMMM YYYY')
                h4=match.opponent
