mixin timelinepastmatch(match, i)

    - var report = match.matchreport[0];

    if report
        .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
            .timeline-item-node
            a(href=report.url).timeline-item-inner
                h6.text-caps.text-danger=match._.kickOffTime.format('dddd, Do MMMM YYYY')
                h3=report.title
                h5 MIT
                    =' '
                    =report.mitScore
                    =' : '
                    =report.opponentScore
                    =' '
                    =match.opponent
                p!=utils.cropString(utils.htmlToText(report.description), 240, '...', true)
    else
        .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
            .timeline-item-node
            a(href='/matches/' + match.key).timeline-item-inner
                h6.text-caps.text-danger=match._.kickOffTime.format('dddd, Do MMMM YYYY')
                h4=match.opponent
