extends ../../layouts/default

include ../../mixins/organiser

block intro
    .page-intro: .container
        h1.page-title Contact

block content
    .page-content
        //- Contact Form
        .section.highlight: .container
            h2#history Contact Form
            h5 History subhead.
            p The Sydney JavaScript community is full of wonderful people from a diverse range of backgrounds, and we want to ensure it remains a welcoming and safe environment to all who wish to be a part of it
            .row
                .col-sm-8
                    form(method='post').form-horizontal
                        input(type='hidden', name='action', value='contact')
                        .form-group(class=validationErrors.name ? 'has-error' : null)
                            label.col-sm-2.text-left.control-label Name
                            .col-sm-10
                                input(type='text' name='name.full' value=formData['name.full'] required placeholder="First Last").form-control
                        .form-group(class=validationErrors.email ? 'has-error' : null)
                            label.col-sm-2.control-label Email
                            .col-sm-10
                                input(type='email' name='email' value=formData.email required placeholder="name@domain.com").form-control
                        .form-group
                            label.col-sm-2.control-label Phone
                            .col-sm-10
                                input(type='text' name='phone' value=formData.phone placeholder='(optional)').form-control
                        .form-group(class=validationErrors.enquiryType ? 'has-error' : null required)
                            label.col-sm-2.control-label Regarding
                            .col-sm-10
                                select(name='enquiryType').form-control
                                    option(value='') (required)
                                    each type in enquiryTypes
                                        option(value=type.value selected=formData.enquiryType === type.value)= type.label
                        .form-group(class=validationErrors.message ? 'has-error' : null)
                            label.col-sm-2.control-label Message
                            .col-sm-10
                                textarea(name='message' placeholder='Leave us a message...' rows=4 required).form-control= formData.message
                        .form-group
                            .col-sm-10.col-sm-offset-2
                                p.help-block Note: others can see your enquiry in the <a href='/keystone/enquiries'>Admin UI</a>
                                button(type='submit').btn.btn-primary Submit
        //- Map
        .section: .container-sm
            h2#honors Where to find us
            h5 Honors subhead.
            p The Sydney JavaScript community is full of wonderful people from a diverse range of backgrounds, and we want to ensure it remains a welcoming and safe environment to all who wish to be a part of it.

//- Honors
.section: .container-sm
h2#facilities Facilities head
h5 Facilities subhead.
p The Sydney JavaScript community is full of wonderful people from a diverse range of backgrounds, and we want to ensure it remains a welcoming and safe environment to all who wish to be a part of it.

block js
    // twitter
    script.
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }

            grecaptcha.render('html_element', {
                'sitekey': 'your_site_key'
            });


        }(document, "script", "twitter-wjs");

    script('https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit')