extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/advertisement

//- INTRO
block intro

    //- HERO
    if !match
        h2.text-center You've just deployed a new site! Go add some data :)
    else
        article#hero.hero-meetup.hero-meetup--next

            //- Intro
            section.hero-intro.hero-intro--hasmask
                .hero-background
                    //-img(src='/images/placeholders/backdrop.jpg')
                .hero-intro-content
                    h5.subtitle #{match.state == 'active' ? 'Next' : 'Last'} Match
                    h1.title
                        a(href='/matches/'+ match.key) #{match.opponent}
                    p.byline: strong Kick-Off at
                        =' '
                        =match._.kickOffTime.format('h:mma')
                        =' on '
                        =match._.kickOffTime.format('ddd, DD MMM YYYY')

                    p.byline #{match.location}
                    if match.fieldAddress
                        a(href='http://maps.google.com.au/?daddr=' + (match.fieldAddress), target='_blank') Directions to Field
                if match.state === 'active'
                    #react-hero-button
            //- Details
            section.hero-details: .container
                .row: .col-sm-10.col-sm-offset-1: .row

                    //- Description
                    .col-md-5
                        //- h3.mb-1 The Match
                        .description!= match.description

                //- Attending
                section.attending
                    #react-attending

//- BODY
block content
    .page-content

        //- About
        article.section.section--featured.home-about: .container
            h2 Interested in joining MIT Men's Rugby Football Club
            .row: .col-sm-8.col-sm-offset-2
            if !user
                .row: .col-sm-4.col-sm-offset-4
                    a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
                        span.text-caps Join MIT Rugby now
            p.mt-1: a(href="https://twitter.com/mitrugby", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @mitrugby

//- JS
block js

    MITRugby.currentMatchId = '5a0a4e2a65b0398302084030';

    if match
        script.
            MITRugby.currentMatchId = !{JSON.stringify(match.id)};
    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};

    //- REACT SCRIPTS
    script.
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    if google_api_key
        script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
