extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/matchreport
include ../../mixins/advertisement

//- INTRO
block intro

    //- HERO
    if !match
        h2.text-center You've just deployed a new site! Go add some data :)
    else
        article#hero.hero-meetup.hero-meetup--next

            //- Intro
            section.hero-intro.hero-intro--hasmask
                .hero-background
                    //-img(src='/images/placeholders/backdrop.jpg')
                .hero-intro-content
                    h5.subtitle #{match.state == 'active' ? 'Next' : 'Last'} Match
                    h1.title
                        a(href='/matches/' + match.key) #{match.opponent}
                    p.byline
                        strong
                            =match._.kickOffTime.format('dddd, Do MMMM YYYY')
                    p Kick-Off at
                        =' '
                        =match._.kickOffTime.format('h:mma')

                    if user
                        p Meeting at
                            =' '
                            =match._.meetingTime.format('h:mma')

                    if match.gameLocationType == 'Home'
                        p
                            = match.homeField
                            = ' | '
                            if match.homeField == 'Briggs Field'
                                a(href='http://maps.google.com/?daddr=250+Vassar+Street,+Cambridge,+MA+02139', target='_blank') google maps
                                = ' | '
                                a(href='https://waze.com/ul?q=250+Vassar+Street,+Cambridge,+MA+02139', target='_blank') waze
                            else
                                a(href='http://maps.google.com/?daddr=140+Vassar+Street,+Cambridge,+MA+02139', target='_blank') google maps
                                = ' | '
                                a(href='https://waze.com/ul?q=140+Vassar+Street,+Cambridge,+MA+02139', target='_blank') waze

                    else if match.gameLocationType == 'Other'
                        if user
                            if match.meetingPlaceName == 'Other'
                                p Meeting at
                                    = ' '
                                    = match.meetingPlaceAddress
                                    a(href='http://maps.google.com.au/?daddr=' + match.meetingPlaceAddress, target='_blank') google maps
                                    = ' | '
                                    a(href='https://waze.com/ul?q=' + match.meetingPlaceAddress, target='_blank') waze

                            else
                                p Meeting at
                                    = ' '
                                    = match.meetingPlaceName
                                    a(href='http://maps.google.com/?daddr=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') google maps
                                    = ' | '
                                    a(href='https://waze.com/ul?q=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') waze

                        p.byline Away Field:
                            =' '
                            = match.awayFieldAddress
                            = ' | '
                            a(href='http://maps.google.com/?daddr=' + match.awayFieldAddress, target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=' + match.awayFieldAddress, target='_blank') waze

                    else
                        if user
                            if match.meetingPlaceName == 'Other'
                                p.byline Meeting Location:
                                    =' '
                                    =match.meetingPlaceAddress
                                    = ' | '
                                    a(href='http://maps.google.com/?daddr=' + match.meetingPlaceAddress, target='_blank') google maps
                                    = ' | '
                                    a(href='https://waze.com/ul?q=' + match.meetingPlaceAddress, target='_blank') waze
                            else
                                p.byline Meeting Location:
                                    = ' '
                                    = match.meetingPlaceName
                                    = ' | '
                                    a(href='http://maps.google.com/?daddr=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') google maps
                                    = ' | '
                                    a(href='https://waze.com/ul?q=Kresge+Auditorium,+Massachusetts+Avenue,+Cambridge,+MA', target='_blank') waze

                        p.byline
                            #{match.gameLocationType} Field Address:
                            = ' '
                            = match.awayFieldAddress
                            = ' | '
                            a(href='http://maps.google.com/?daddr=' + match.awayFieldAddress, target='_blank') google maps
                            = ' | '
                            a(href='https://waze.com/ul?q=' + match.awayFieldAddress, target='_blank') waze
                    //- Details
                    if match.description
                        p!= match.description

            //- Attending
            section.attending
                #react-match-button

//- BODY
block content
    .page-content
        //- Most Recent Match Report
        if matchReport
            article.section.section--featured: .container
                h5.subtitle Most Recent Match Report
                h2 #{matchReport.title}
                p MIT
                    = ' '
                    = matchReport.mitScore
                    = ' - '
                    = matchReport.opponentScore
                    = ' '
                    = matchReport.match.opponent
                    = ' ('
                    = matchReport.state.toLowerCase()
                    =')'

                a(href='/matchreports/' + matchReport.key) read more here...

    //- About
        article.section.section--featured.home-about: .container
            h2 Interested in joining MIT Men's Rugby Football Club
            .row: .col-sm-8.col-sm-offset-2
            if !user
                .row: .col-sm-4.col-sm-offset-4
                    a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
                        span.text-caps Join MIT Rugby now
            p.mt-1: a(href="https://twitter.com/mitrugby", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @mitrugby

//- JS
block js

    if match
        script.
            MITRugby.currentMatchId = !{JSON.stringify(match.id)};
    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};

    script(src='/js/packages.js')
    script(src='/js/attending.js')

    //- REACT SCRIPTS
    script.
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    if google_api_key
        script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
