extends ../../layouts/default

include ../../mixins/match

block intro
    .container-sm
        .page-intro
            h1.page-title Matches
            p.lead MIT Rugby usually have practices on Tuesdays and Thursdays. We hope to see you at&nbsp;
                if !user
                    a(href='/join').js-auth-trigger our&nbsp;next&nbsp;match
                else
                    | our next match

        if upcomingMatches
            +match(upcomingMatches)
block content
    .page-content: .container
        .timeline
            .timeline-path
            .timeline-item--offset
            each match, i in pastMatches
                .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
                    .timeline-item-node
                    a(href=match.url).timeline-item-inner
                        h6.text-caps.text-danger= match._.meetingTime.format('YYYY - MMMM ')
                        h4= match.opponent

                        !=utils.cropString(utils.htmlToText(match.description), 240, '...', true)
                        //- !=utils.htmlToText(match.description)

        if !upcomingMatch && !pastMatches.length
            h3.text-muted There are no matches yet.

block js
    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};

    script(src='/js/packages.js')
    script(src='/js/attending.js')

//- block js
    // twitter
    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

