extends ../../layouts/default

block intro

block flash-messages

block content
    .container-sm
        .page-intro
            p.lead Hi #{user.name.first}, these are your settings and
                a(href=user.url) profile details
        .page-content.tile.ph-2.pv-2.mb-2
            +flash-messages(messages)
            form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
                input(type='hidden', name='action', value='profile.details')
                h3 Private Info
                .form-group
                    label.col-sm-2.control-label Name
                    .col-sm-10: .form-row
                        .col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
                        .col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
                .form-group
                    label.col-sm-2.control-label Email
                    .col-sm-10: input(type='email', name='email' value=user.email).form-control
                .form-group
                    strong.col-sm-2.control-label Notify me
                    .col-sm-10
                        .checkbox: label
                            input(type='checkbox', name='notifications.matches' value='true' checked=user.notifications.matches)
                            |  When there is a new match
                hr.mv-2
                h3 Position Information
                p.help-block.mb-2 You can define the positions that you've previously played .
                    .form-group
                        label.col-sm-2.control-label Primary Position
                        .col-sm-10: .form-row
                            .col-xs-6: input(type='text', name='position.primary' value=user.position.primary).form-control
                    .form-group
                        strong.col-sm-2.control-label Other Positions
                        .col-sm-10
                            .checkbox: label
                                input(type='checkbox', name='position.lhp' value='false' checked=user.position.lhp)
                                |  (1) Loose-head Prop
                            .checkbox: label
                                input(type='checkbox', name='position.hkr' value='false' checked=user.position.hkr)
                                |  (2) Hooker
                            .checkbox: label
                                input(type='checkbox', name='position.thp' value='false' checked=user.position.thp)
                                |  (3) Tight-head Prop
                            .checkbox: label
                                input(type='checkbox', name='position.sr' value='false' checked=user.position.sr)
                                |  (4/5) Second-Row
                            .checkbox: label
                                input(type='checkbox', name='position.bsf' value='false' checked=user.position.bsf)
                                |  (6) Blind-side Flanker
                            .checkbox: label
                                input(type='checkbox', name='position.osf' value='false' checked=user.position.osf)
                                |  (7) Open-side Flanker
                            .checkbox: label
                                input(type='checkbox', name='position.ne' value='false' checked=user.position.ne)
                                |  (8) Number Eight
                            .checkbox: label
                                input(type='checkbox', name='position.sh' value='false' checked=user.position.sh)
                                |  (9) Scrum-Half
                            .checkbox: label
                                input(type='checkbox', name='position.oh' value='false' checked=user.position.oh)
                                |  (10) Out-Half/Number Ten
                            .checkbox: label
                                input(type='checkbox', name='position.ic' value='false' checked=user.position.ic)
                                |  (12) Inside Centre
                            .checkbox: label
                                input(type='checkbox', name='position.oc' value='false' checked=user.position.oc)
                                |  (13) Outside Centre
                            .checkbox: label
                                input(type='checkbox', name='position.wng' value='false' checked=user.position.wng)
                                |  (11/14) Wing
                            .checkbox: label
                                input(type='checkbox', name='position.fb' value='false' checked=user.position.fb)
                                |  (15) Fullback

                hr.mv-2
                h3 Your Services
                p.help-block.mb-2 You can authenticate yourself on the MIT Rugby website with any of the services you connect. When connected, links to your Twitter and Github will be displayed on your profile.


                //- Unconfigured Services
                if !user.services.twitter.isConfigured
                    .form-group
                        label.col-sm-2.control-label Twitter
                        .col-sm-10
                            a(href='/auth/twitter', title='Connect your Twitter account').btn.btn-twitter
                                span.entypo-social.entypo-twitter
                                |  Connect your Twitter account
                if !user.services.google.isConfigured
                    .form-group
                        label.col-sm-2.control-label Google
                        .col-sm-10
                            a(href='/auth/google', title='Connect your Google account').btn.btn-google
                                span.entypo-social.entypo-google-circles
                                |  Connect your Google account
                if !user.services.facebook.isConfigured
                    .form-group
                        label.col-sm-2.control-label Facebook
                        .col-sm-10
                            a(href='/auth/facebook', title='Connect your Google account').btn.btn-facebook
                                span.entypo-social.entypo-facebook
                                |  Connect your Facebook account


                //- Configured Services

                if user.services.twitter.isConfigured || user.services.google.isConfigured || user.services.facebook.isConfigured
                    hr.line-dashed
                if user.services.twitter.isConfigured
                    .form-group
                        label.col-sm-2.control-label Twitter
                        .col-sm-10.text-muted.faux-label
                            span.entypo-social.entypo-twitter
                            |  Your account is connected.
                            a(href='?disconnect=twitter', title='Revoke authorization of your Twitter account') Disconnect
                if user.services.google.isConfigured
                    .form-group
                        label.col-sm-2.control-label Google
                        .col-sm-10.text-muted.faux-label
                            span.entypo-social.entypo-google-circles
                            |  Your account is connected.
                            a(href='?disconnect=google', title='Revoke authorization of your Google account') Disconnect
                if user.services.facebook.isConfigured
                    .form-group
                        label.col-sm-2.control-label Facebook
                        .col-sm-10.text-muted.faux-label
                            span.entypo-social.entypo-facebook
                            |  Your account is connected.
                            a(href='?disconnect=facebook', title='Revoke authorization of your Facebook account') Disconnect


                //- Public Info

                hr.mv-2
                h3 Public Info
                .form-group
                    label.col-sm-2 Public
                    .col-sm-10
                        label.checkbox-inline
                            input(type='checkbox', name='isPublic', value='true', checked=user.isPublic ? 'true' : null)
                            |  Show my profile on the MIT Rugby website
                .form-group
                    label.col-sm-2.control-label Bio
                        br
                        .text-muted (markdown)
                    .col-sm-10
                        textarea(name='bio', rows=5).form-control=user.bio.md
                .form-group
                    label.col-sm-2.control-label Photo
                    .col-sm-10
                        if user.photo.exists
                            .row
                                .col-sm-3: img(src=user._.photo.thumbnail(120, 120)).img-responsive
                                .col-sm-9: input(type='file', name='photo_upload')
                        else
                            input(type='file', name='photo_upload')
                hr.mv-2
                button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile

        .ui-reveal
            .ui-reveal__initial
                button(type='button').btn.btn-link.ui-reveal__trigger Change Password
            .ui-reveal__hidden
                form(method='post', autocomplete='off')
                    input(type='hidden', name='action', value='profile.password')
                    h3 Change password
                    .form-group
                        label(for='change-passwordNew').sr-only New Password
                        input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
                    .form-group
                        label(for='change-passwordConfirm').sr-only Confirm Password
                        input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
                    .form-group
                        button(type='submit', data-loading-text="Changing...").btn.btn-primary Change

block js
    script(src='/js/views/me.js')
